<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <aside class="sidebar">
        <div class="sidebar__top">
            <div class="sidebar__brand">My App</div>
            <div class="sidebar__user">
            <div id="sbName" class="sidebar__name">User</div>
            <div id="sbRole" class="sidebar__role">role</div>
            </div>
        </div>
    </aside>

</body>
</html>