body {
    background-color: #f0f0f0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    font-size: 14px;
}
.flex {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
    padding: 20px;
    box-sizing: border-box;
} 
.input_form{
    display: flex;
    width: 100%;
    gap: 6px;
    margin-bottom: 12px;
}

.input_form input,
.input_form textarea,
select,
.password-row input{
  width: 80%;
  box-sizing: border-box;
}


.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 40px;
    
    border: 1px gray solid;
    background: white;
    border-radius: 8px;

    margin: auto;

    white-space: nowrap;    /* ✅ prevent text wrap inside button */
}

.password-row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.toggle-pass{
    margin-left: 10px;
    padding: auto;
    border: 1px solid gray;
    background: #f7f7f7;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    width: 55px;
    height: 10%;
}

.toggle-pass:hover{
    background: #eee;
}

.toggle-pass:active{
    transform: scale(0.98);
}

.toggle-pass:focus{
    outline: none;
    box-shadow: 0 0 0 3px rgba(0,0,0,0.12);
}

.message {
    background-color: lightcyan;
    padding: 10px;
    margin-bottom: 20px;
    display: none;
}

.message.success {
    background-color: lightgreen;
    display: block;
}

.message.danger {
    background-color: lightsalmon;
    display: block;
}

@media screen and (max-width: 768px) {
    .flex {
        flex-direction: column;
        width: 100%
    }
    .button {
        width: 20%;
    }
    .password-row{
        flex-direction: column;
        align-items: stretch;
    }
}